{% extends 'base_storage.html' %} {% block titel %}Notizen{% endblock %} 
{% block content %}
<div class="border border-success rounded p-3 mx-auto m-2 bg-light">
  <h1 class="display-4 text-center">Notizen</h1>
</div>

<form method="POST" name="note">
  {% csrf_token %}
  <div class="input-group input-groupm mb-3 p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Titel</span>
    </div>
    <input type="text" class="form-control" name="note-title">
  </div>

  <div class="input-group mb-3 p-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Notiz</span>
    </div>
    <textarea class="form-control" type="text" name="note-body">  </textarea>
  </div>
  <button class="btn btn-success" type="submit">Speichern</button>
</form>
<hr>
{% for notiz in user.notiz.all %}
<!-- Hier bitte Bootstrap card -->
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <a href="#" class="badge badge-light"><ion-icon name="create-outline" style="font-size: 25px;"></ion-icon></a>
    <a href="#" class="badge badge-light"><ion-icon name="trash-outline" style="font-size: 25px; color:firebrick;"></ion-icon></a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ notiz.titel }}</h5>
    <p class="card-text">{{ notiz.body }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
