{% extends 'base_storage.html' %} {% block titel %}Notizen{% endblock %} 
{% block content %}
<br>
<!--Bootstrap Navigation-->
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/notes/">Notizen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/notes/archived/">Archivierte Notizen</a>
  </li>
  <br>
</ul>

<div class="text-center">
  <h1 class="text-center display-1">Notizen</h1>
</div>

<form method="POST" name="note">
  {% csrf_token %}
  <div class="input-group input-groupm mb-3 w-75 p-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Titel</span>
    </div>
    <input type="text" class="form-control" name="note-title" placeholder="Titel">
  </div>

  <div class="input-group mb-3 w-75 p-2 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Notiz</span>
    </div>
    <textarea class="form-control" type="text" name="note-body" placeholder="Notiz">  </textarea>
  </div>
  <div class="text-center">
    <button class="btn btn-success pl-5 pr-5 pt-2 pb-2" type="submit">Speichern</button>
  </div>
</form>
<hr>
<div class="card-columns">
{% for notiz in user.notiz.all %}
<!-- Bootstrap card -->
{% if notiz.archived %}
{% else %}
<div class="card border-dark mx-auto m-5" style="max-width: 18rem;">
  <div class="card-header">
    <a href="/notes/edit/{{notiz.id}}" class="badge badge-light"><ion-icon name="create-outline" style="font-size: 25px;"></ion-icon></a>
    <a href="/notes/archive/{{notiz.id}}" class="badge badge-light"><ion-icon name="archive-outline" style="font-size: 25px;"></ion-icon></a>
    <a href="/notes/delete/{{notiz.id}}/" class="badge badge-light"><ion-icon name="trash-outline" style="font-size: 25px; color:firebrick;"></ion-icon></a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ notiz.titel }}</h5>
    <p class="card-text">{{ notiz.body }}</p>
  </div>
  {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
