{% extends 'base_storage.html' %} {% block titel %}Bearbeite Notiz{% endblock %} 
{% block content %}
<br>
{% for note in user.notiz.all %}
    {% if note.id == note_id %}
        <h1 class="text-center display-3 mx-auto">Bearbeite Notiz {{note.titel}}</h1>
        <br>
        <form method="POST" class="text-center mx-auto">   
            <div class="form-group">
                <label for="note-titel">Titel</label>
                <input type="text" class="form-control" placeholder="Titel" name="note-titel"  id="note-titel">{{note.titel}}</input>
                <br>
                <button type="submit" class="btn btn-success mt-3 mr-2 ml-2 mb-2" >Speichern</button>
            </div>
        </form>
    {% else %}
    {% endif %}
{% endfor %}
{% endblock %}
