{% extends 'base_storage.html' %}

{% block titel %}Dateien-Index{% endblock %}

{% block content %}

<div class="container text-center">
<form method="post">
    <input name="datei" type="file"></input>
    <button type="submit" class="btn btn-success m-3"><img class="" src="\media\Icons/cloud-upload-outline.svg" alt="Logo" width="40" height="40">Datei hinzufügen</button>
</form>
</div>
<hr>
<br>
{% for datei in user.datei.all %}
<p class="lead">{{ datei.name }} <a href="{{ datei.datei.url }}" class="btn btn-outline-warning">Download</a></p>
{% endfor %}

{% endblock %}

