{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Server error' %}
</div>
{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<p>{% trans 'Es ist ein Fehler Aufgetreten. Der Fehler wird an den Administrator per Email weitergeleitet und das problem wird schnell behoben. Danke für ihre Gedult.' %}</p>

{% endblock %}
